body{
    width:100%;
    overflow-x: hidden;
}
.heading{
    top: 40%;
    font-size: 36px;
    line-height: 40px;
    color:#3d3d3d;
}
.heading p{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}
.footer-text{
    bottom: 10%;
    font-size: 13px;
    line-height: 28px;
    letter-spacing: 10px;
    text-transform: uppercase;
    color:#ccc;
}
.heading, .footer-text{
    display:block;
    position: absolute;
    width:100%;
    margin:auto;
    text-align: center;
    font-family: 'Open-Sans', sans-serif;
    font-weight: bold;
}
